:root {
    --font-family-sans-serif: 'Montserrat', sans-serif;
    --font-family-serif: 'Cormorant Infant', serif;

    --background: var(--white);

    --primary-color: var(--lightred);
}

html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    background-color: #fee5db;
    color: #c54328;
    overflow-x: hidden;
    font-size: 4vw;

    @include breakpoint(sm) {
        font-size: 2vw;
    }

    @include breakpoint(md) {
        font-size: 1.5vw;
    }
}

.container {
    &.is-fluid {
        padding-left: 12vw;
        padding-right: 12vw;
    }
}

// OVERLAY

.noise {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    display: block;

    width: 100%;
    height: 100vh !important;

    background-color: transparent;
    background-image: url('/assets/images/noise.gif');
    background-size: 300px auto;

    opacity: .07;
}

.header-shadow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

    width: 75vw;
}

.hn-abstract {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .hn-abstract-header {
        position: absolute;
        top: 0;
        width: 100vw;
    }

    .hn-abstract-homepage-01 {
        position: absolute;
        top: 101vw;
        right: 0;
        z-index: 999;
        width: 30vw;
    }

    .hn-abstract-homepage-02 {
        position: absolute;
        top: 147.5vw;
        width: 35vw;
    }

    .hn-abstract-homepage-03 {
        position: absolute;
        top: 265vw;
        right: 0;
        width: 15vw;
    }

    .hn-abstract-footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}


// HOMEPAGE

.hn-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20vw;

    @include breakpoint(sm) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 1rem;
    }


    li {
        font-weight: 600;
        text-transform: uppercase;

        &:nth-child(1) {
            @include breakpoint(sm) {
                grid-area: 1 / 1 / 2 / 8;
            }
        }

        &:nth-child(2) {
            text-align: right;

            @include breakpoint(sm) {
                grid-area: 1 / 8 / 2 / 10;
            }
        }

        // &:nth-child(3) {
        //     display: none;

        //     @include breakpoint(sm) {
        //         display: initial;
        //         grid-area: 1 / 10 / 2 / 13;
        //     }
        // }
    }
}

.hn-intro {
    position: relative;
    margin-top: 10vw;
    z-index: 2;

    .hn-intro-title {
        font-size: 14vw;
        line-height: 1;
        white-space: nowrap;

        @include breakpoint(md) {
            font-size: 12vw;
        }
    }

    .hn-intro-ampersand {
        position: absolute;
        top: 20%;
        right: 0%;
        width: 17.5vw;
        height: auto;

        @include breakpoint(md) {
            top: 22.5%;
            right: 22.5%;
            width: 15vw;
        }
    }
}

.hn-hero {
    position: relative;
    margin-top: -10vw;
    margin-left: -5vw;
    text-align: right;

    img {
        position: relative;

        &:nth-child(1) {
            width: calc(11 / 12 * 100%);
            margin-right: calc(3 / 12 * 100%);
            z-index: 1;

            @include breakpoint(md) {
                width: calc(9 / 12 * 100%);
            }
        }

        &:nth-child(2) {
            width: 75%;
            margin-top: -30vw;
            margin-right: -10%;
            z-index: 0;

            @include breakpoint(md) {
                width: 50%;
                margin-top: -20vw;
                margin-right: 0;
            }
        }
    }
}

.hn-story {
    position: relative;
    z-index: 3;

    margin-top: 15vw;

    @include breakpoint(md) {
        margin-top: -25vw;
        width: calc(5 / 12 * 100%);
    }

    .hn-story-title {
        font-size: 10vw;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10vw;

        @include breakpoint(md) {
            font-size: 5vw;
            margin-bottom: 6vw;
        }
    }

    .hn-story-content {
        display: grid;
        grid-gap: 8vw;

        hyphens: auto;

        @include breakpoint(sm) {
            grid-gap: 4vw;
        }

        @include breakpoint(md) {
            grid-gap: 3vw;
        }
    }
}

.hn-albums {
    position: relative;
    margin-top: 20vw;

    @include breakpoint(md) {
        margin-top: 10vw;
    }

    .hn-albums-title {
        font-size: 10vw;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 7.5vw;

        @include breakpoint(md) {
            font-size: 5vw;
            margin-bottom: -5vw;
            text-align: right;
        }
    }

    .hn-albums-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5vw;
        column-gap: 7.5vw;

        @include breakpoint(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .hn-album {
        position: relative;
        width: 100%;

        img {
            width: 100%;
        }

        &:nth-child(2n) {
            transform: rotate(-2deg);

            @include breakpoint(sm) {
                top: 10vw;
            }
        }

        &:nth-child(2n+1) {
            transform: rotate(3deg);
        }

        &:nth-child(3n+1) {
            transform: rotate(1deg);
        }

        &:nth-child(1) {
            transform: rotate(3deg);
        }

        .hn-album-frame {
            position: relative;
            z-index: 1;
        }

        .hn-album-image {
            position: absolute;
            top: 12.5%;
            left: 50%;

            width: 80%;

            transform: translateX(-50%);
        }

        .hn-album-name {
            position: absolute;
            bottom: 10%;
            z-index: 2;

            width: 100%;
            text-align: center;
        }

        .hn-album-spread {
            position: absolute;
            top: 0;
            z-index: -1;

            width: 100%;

            img {
                position: absolute;
                top: 0;
                transition: .25s all ease;

                &:nth-child(1) {
                    transform: rotate(4deg);
                }

                &:nth-child(2) {
                    transform: rotate(-6deg);
                }

            }

            @include breakpoint(md) {
                img {
                    &:nth-child(1) {
                        transform: rotate(2deg);
                    }

                    &:nth-child(2) {
                        transform: rotate(-3deg);
                    }

                }
            }
        }

        &:hover {
            .hn-album-spread {
                img {
                    &:nth-child(1) {
                        transform: rotate(4deg);
                    }

                    &:nth-child(2) {
                        transform: rotate(-6deg);
                    }
                }
            }
        }
    }
}


// FOOTER

.hn-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding: 30vw 0;

    @include breakpoint(sm) {
        padding: 15vw 0;
    }


    .hn-footer-text {
        font-size: 7vw;
        font-weight: 500;
        line-height: 1.325;

        @include breakpoint(sm) {
            font-size: 4vw;
        }

        @include breakpoint(md) {
            font-size: 3vw;
        }
    }

    .hn-contact {
        .hn-contact-title {
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 2vw;
        }
    }
}



// ALBUM

.hn-album-nav {
    display: block;
    margin-top: 20vw;

    font-weight: 600;
    text-transform: uppercase;
}

.hn-album-single-content {
    margin-top: 10vw;

    iframe {
        width: 100%;
        height: 75vh;
    }
}

.hn-album-single-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12vw;
    margin-top: 12vw;

    @include breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6vw;
        margin-top: 6vw;
    }

    @include breakpoint(md) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4vw;
        margin-top: 4vw;
    }
}